/* src/styles/global.scss */

/* Light Theme Variables */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #ff5722;
  --nav-background-color: #ffffff;
  --nav-text-color: #333333;
  --link-hover-color: #ff5722;
  --card-background-color: #f9f9f9;
  /* Add more variables as needed */
}

/* Dark Theme Variables */
[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
  --nav-background-color: #1f1f1f;
  --nav-text-color: #ffffff;
  --link-hover-color: #bb86fc;
  --card-background-color: #1e1e1e;
  /* Add more variables for dark theme */
}
