/* src/App.scss */
@use 'sass:color';
@import './styles/themes.scss';

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}