.about-me {
  background-color: var(--background-color);
  color: var(--text-color);

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 60px;
    gap: 40px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .text-content {
      width: 50%;

      h2 {
        font-size: 2rem;
        color: var(--primary-color);
        margin-bottom: 20px;
        // font-family: 'Georgia', serif; /* Elegant font style */
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: var(--text-color);
        // font-family: 'Arial', sans-serif;
      }
    }

    .image-content {
      width: 50%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  @media (max-width: 992px) {
    .section {
      flex-direction: column;

      .text-content, .image-content {
        width: 100%;
      }

      .image-content {
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .text-content h2 {
      font-size: 1.8rem;
    }

    .text-content p {
      font-size: 1rem;
    }

    .image-content img {
      width: 100%;
    }
  }
}
